h1 {
  font-weight: 600;
}

i {
  vertical-align: middle;
}

.brand-logo {
  margin-left: .5rem;
}

#royalCheese {

}

#arugulaPie {

}

#smokedSwine{

}

#iceCream{

}

#subtotal{

}

#tax{

}

#total{

}

#placeOrder{
  
}
